<section class="w-full h-full flex flex-col gap-5 overflow-y-auto no-scrollbar select-none animate-pulse">
    <section>
        <div class="w-full h-[480px] relative overflow-hidden rounded-xl bg-gray-900">
            <div class="w-full h-full bg-gray-800/30"></div>

            <div class="absolute top-0 left-0 w-full p-6 flex justify-between items-center z-30">
                <div class="h-10 w-64 bg-gray-700/50 rounded-full"></div>
            </div>

            <div class="absolute bottom-0 left-0 w-full p-8 flex items-end z-20">
                <div class="flex flex-row gap-8 items-end w-full">
                    <div class="w-64 h-64 bg-gray-700/50 rounded-lg shadow-lg shrink-0"></div>

                    <div class="flex flex-col gap-3 mb-2 w-full">
                        <div class="h-20 w-3/4 bg-gray-700/50 rounded-lg"></div>

                        <div class="h-6 w-48 bg-gray-700/50 rounded"></div>
                        <div class="flex items-center gap-4 mt-2">
                            <div class="w-14 h-14 bg-gray-700/50 rounded-full"></div>
                            <div class="h-14 w-14 bg-gray-700/50 rounded-full"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute inset-0 bg-linear-to-t from-black via-transparent to-transparent pointer-events-none">
            </div>
        </div>
    </section>
</section>